/* set min height: dashboard_container will fill screen */ 
body, .dashboard_container{
    max-height: 100%;
}
/* ^^if you don't: container will only stretch enough for what's in it */


/* --------------DASHBOARD---------------- */
.dashboard_container{
    display: grid;
    border-style: solid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: orange;
    grid-template-areas: "s h h h h"
                         "s c c c c"
                         "s c c c c"
                         "s c c c c"
                         "s c c c c";
}
#sidebar{
    grid-area: s;
    background-color: rgb(68, 177, 255);
}
#header{
    grid-area: h;
    background-color: white;
    border-style: dashed;
    border-color: rgb(255, 149, 0);
    border-radius: 15px;
    padding: 5px;
}
#content{
    grid-area: c;
    background-color: rgb(216, 236, 247);
}
/* ----------------------------------------- */


/* ----------------SIDEBAR------------------ */
.sidebar_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ". ." ". dashboard" ". dashboard" ". home" ". profile" ". messages"
                         ". history" ". tasks" ". communities" ". ." ". settings" ". support"
                        ". privacy" ". ." ". ." ". ." ". ." ". ." ". ." ". ." ". .";
}

#dashboard{ grid-area: dashboard;}
#home{ grid-area: home;}
#profile{ grid-area: profile;}
#messages{ grid-area: messages;}
#history{ grid-area: history;}
#tasks{ grid-area: tasks;}
#communities{ grid-area: communities;}
#settings{ grid-area: settings;}
#support{ grid-area: support;}
#privacy{ grid-area: privacy;}

.dashboard_tab{
    display:flex;
    align-items: center;
    gap: 5px;
    color: black;
    padding-right: 10px;
    
}
.sidebar_tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: black;
    padding: 10px;
}
/* ----------------------------------------- */

/* -----------------HEADER------------------- */
.header_container{
    display: grid;
    gap: 15px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ". search search search . notif_logo_name"
                         ". logo_name logo_name . .  buttons";
}
#search{grid-area: search;}
#notif_logo_name{
    display: flex;
    align-items: center;
    gap: 5px;
    grid-area: notif_logo_name;
}
#logo_name{
    display: flex;
    align-items: center;
    gap:5px;
    grid-area: logo_name;
}
#buttons{
    grid-area: buttons;
}
button{
    background-color: orange;
    border-radius: 5px;
    border-width: 3px;
    border-color: orange;
}
button:hover{
    background-color: orange;
    border-radius: 5px;
    border-color: orangered;
    border-width: 3px;
}
/* ----------------------------------------- */

/* ----------------Content------------------ */
.content_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "projects_container projects_container projects_container announcements"
                         "projects_container projects_container projects_container trending";
    background-color: rgba(22, 69, 122, 0.458);
    padding: 5px;
}
.projects_container{
    grid-area: projects_container;
}
.announcements{
    grid-area: announcements;
    border-left-style: dashed;
}
.trending{
    grid-area: trending;
    border-left-style: dashed;
    border-top-style: dashed;
}
/* ----------------------------------------- */


/* ----------------Projects------------------ */
.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
    padding: 30px;
}
#card{
    background-color: white;
    border-left-style: solid;
    border-left-color: orange;
    border-left-width: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    min-width: 40vh; 
}
#card h3, p{
    padding-left: 10px;
}
/* ------------------------------------------ */

/* --------------Announcements---------------- */
.announcements_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    background-color: white;
    margin: 30px;
}
.announcements{
    padding: 10px;
}
#announcement{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
#middle_announcement{
    background-color: white;
    margin: 10px;
    border-top: solid;
    border-bottom: solid;
}
/* ------------------------------------------ */

/* ----------------Trending------------------ */
.trending_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}
.trending{
    padding: 10px;
}
#user{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
#middle_user{
    display: flex;
    background-color: white;
    padding: 10px;
}
/* ------------------------------------------ */
